#logo {
    width: 12%;
    height: 12%;
    margin: 10px;
    padding: 10px;
}

#logocenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header {
    background-color: #03213F;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181A1B;
}

nav ul {
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav li:hover>a {
    background-color: #03213F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03213F;
    top: 100%;
    /* left: 0; */
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navheadercolor {
    background-color: #1A9A9D;
}

#imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

footer {
    background-color: #1A9A9D;
    text-decoration: none;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 10;
    padding: 0px 15px;


}

footer li {
    list-style-type: none
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;


}

form {
    text-align: left;
    width: 300px;
    margin: 20px auto 0;
}

form label {
    display: block;
    width: 290;
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    background-color: #333;
    color: white;
}

form input {
    display: block;
    width: 290px;
    padding: 5px;
    margin: 0 0 10px;
    border: none;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: pointer;

}

form input[type="submit"] {
    background: #1A9A9D;
    color: white;
    cursor: pointer;
    width: 300px;
}

.content {
    border: solid wheat 20px;
}

@media (max-width: 400px) {
    nav a {
        font-size: 0.7rem;
        text-align: center;
    }

    .date {
        font-size: 1rem;
    }

    iframe {
        width: 325px;
        height: 150px;
    }

    img {
        width: 150px;
        height: 100px;
    }

    .newspage h3 {
        font-size: 0.6rem;
    }

    section {
        font: 12px;
    }

    .myForm,
    label {
        width: 40%;
        height: 1vh;

    }

    input #fname {
        width: 40%;
        height: 1vh;
    }

    form input {
        display: block;
        width: auto;
        padding: 5px;
        margin: 0 0 10px;
        border: none;
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        cursor: pointer;

    }

    form input[type="submit"] {
        background: #1A9A9D;
        color: white;
        cursor: pointer;
        width: 50%;
    }

    form label {
        display: block;
        width: 40%;
        padding: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        background-color: #333;
        color: white;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    nav a {
        text-align: center;
    }

    .date {
        font-size: 1.5rem;
    }

    iframe {
        width: 475px;
        height: 250px;
    }

    .myForm,
    label {
        width: 40%;
        height: 1vh;
        display: inline-block;

    }

    input #fname {
        width: 20%;
        height: 1vh;
    }

    .myForm,
    label {
        width: 40%;
        height: 1vh;

    }

    input #fname {
        width: 40%;
        height: 1vh;
    }

    form input {
        display: block;
        width: auto;
        padding: 5px;
        margin: 0 0 10px;
        border: none;
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        cursor: pointer;

    }

    form input[type="submit"] {
        background: #1A9A9D;
        color: white;
        cursor: pointer;
        width: 50%;
    }

    form label {
        display: block;
        width: 40%;
        padding: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        background-color: #333;
        color: white;
    }
}




@media (min-width: 801px) {
    .date {
        font-size: 1.75rem;
    }
}