/* * {
    margin: 0px;
    padding: 0px;
}
    
    html {
    height: 100%;
    width: 100%;
} */
  
#logo{
    width: 12%;
    height: 12%;
    margin: 10px;
    padding: 10px;
}

#logocenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header{
    background-color: #03213F;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181A1B;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6)
}

nav ul {
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
 display: inline-block;
}

nav li:hover > a {
 background-color: #03213F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03213F;
    top: 100%;
    /* left: 0; */
     z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navheadercolor{
        background-color: #1A9A9D;
        background-image: linear-gradient(to right, #03213F, rgba(255,255,255,0.5));
    
}

/* CONTENT STARTS HERE*/

#jessh1 {
    margin: auto;
    display: block;
    text-align: center;
    color: #fff; 
    padding: 20px;
    margin-top: 60px;
    font-size: 38px;
    border-bottom: 1rem solid #fff;
}

.firstcontainer {
    position: relative;
    display: inline-block;
}
 
.imgcontainer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */

    /* grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;  */
    gap: 15px 15px; 
    align-items: center;
    /* grid-gap: 10px; */
    padding-top:130px; 
    padding-left: 30px;
    margin-bottom: 60px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 500px 500px;
}

.imgcontainer img {
    /* margin: auto;
    display: block;
    width: 195px;
    height: 194px;
    border-radius: 100%;
    overflow: clip;
    overflow-clip-margin: 0px; */
    position: relative; 
    width: 200px;
    height: 200px; 
    overflow: hidden; 
    background: #32557f;
    box-shadow: 12px 9px 0px #1A9A9D;
}

.imgcontainer p {
    margin: 15px;
    padding:10px;
    font-size: 19px; 
    font-weight: bold;
    text-align: end;
    text-align: center;
    color: #fff; 
}

.imgcontainer p:nth-child(3) {
    font-size: 14.5px; 
    padding: 10px;
    text-align: end;
    background-color: #03213F;
}

.imgcontainer p:nth-child(4) {
    font-size: 13px; 
    padding: 10px;
    text-align: end;
    line-height: 1.5;
    width: 90%;
    float: right; 
    background-color: #03213F;
    border: .5px solid #2d5b89;
  }

/* CONTENT ENDS HERE */

#imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

footer{
    bottom: 0;
    background-color: #1A9A9D;
    background-image: linear-gradient(to right, #03213F, rgba(255,255,255,0.5));
    text-decoration: none;
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 10;
    padding: 0px 15px;
    

  }

footer li{
    list-style-type: none
}

footer a, h2,h1{
    color: white;
}

footer a:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    
    

}

main{ 
    
    animation: fadeIn 3s;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  footer section{
    padding: 50px;
}