

#logo{
    width: 12%;
    height: 12%;
    margin: 10px;
    padding: 10px;
}

#logocenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header{
    background-color: #03213F;
  
    
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181A1B;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6) 
   
}



nav ul {
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
 display: inline-block;
}

nav li:hover > a {
 background-color: #03213F;
 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03213F;
    top: 100%;
    /* left: 0; */
     z-index: 1;
     
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navheadercolor{
    background-color: #1A9A9D;
    background-image: linear-gradient(to right, #03213F, rgba(255,255,255,0.5));
}

#imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

footer{
    bottom: 0;
    background-color: #1A9A9D;
    background-image: linear-gradient(to right, #03213F, rgba(255,255,255,0.5));
    text-decoration: none;
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    
}

footer ul {
    margin: 10;
    padding: 0px 15px;
    

  }

footer li{
    list-style-type: none
}

footer a, h2,h1{
    color: white;
}

footer a:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    
    

}

main{ 
    
    animation: fadeIn 3s;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  footer section{
    padding: 15px;
}

.contact-info {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.social-media-icons a img{
    background-color: white;
    border: 2px solid white; 
    border-radius: 25px;
    padding: 2%;
    
}


.langicon img{
    background-color: white;
    border: 2px solid white; 
    border-radius: 50px;
    padding: 2%;
    width: 9%;
    height: 9%;
    
}

.social-media-icons img:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9);
  }

  section.commitment{
    
    background-image: url("HC3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      color: white;
    
      
      
  }
  
  section.commitment li{
padding: 10px;


  }

  @media (max-width: 420px)
   { nav a {
        font-size: 0.7rem;
        text-align: center;
    }}

    @media (max-width: 375px)
    { nav a {
         font-size: 0.7rem;
         text-align: center;
     }
     #logo{
        width: 25%;
        height: 25%;
        margin: 10px;
        padding: 10px;
    }
 
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-flow: row;
    
    }
    
}

    @media (max-width: 490px)
    { nav a {
         font-size: 0.9rem;
         text-align: center;
     }
     #logo{
       width: 25%;
       height: 25%;
       margin: 10px;
       padding: 10px;
   }

   .grid{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 10px;
       grid-auto-flow: row;
   }}
    
    @media (max-width: 900px)
     { nav a {
          font-size: 0.9rem;
          text-align: center;
      }
      #logo{
        width: 25%;
        height: 25%;
        margin: 10px;
        padding: 10px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        grid-auto-flow: row;
    }}
    
    footer p{ color: white;}

    .subbox {
        margin-top: 25%;
        padding: 20px;
    }
    
    input[type="email"] {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 45px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);

    }
    
    button {
        padding: 10px 15px;
        border-radius: 50%;
        background-color: #03213F;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
    }

     #sectionwhite{
        background-color: #f1f1f1;
        margin: 10px;
        padding: 10px;
        opacity: 0.9;
        margin-bottom: 0
        
        
        }
        
        #sectionwhite2{
            background-color: #f1f1f1;
            margin: 10px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            opacity: 0.9;
            margin-bottom: 0;
            
            
            } 