#logo{
    width: 12%;
    height: 12%;
    margin: 10px;
    padding: 10px;
}

#logocenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header{
    background-color: #03213F;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181A1B;
}

nav ul {
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
 display: inline-block;
}

nav li:hover > a {
 background-color: #03213F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03213F;
    top: 100%;
    /* left: 0; */
     z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navheadercolor{
    background-color: #1A9A9D;
}

#imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

footer{
    background-color: #1A9A9D;
    text-decoration: none;
    position: relative; 
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 10;
    padding: 0px 15px;
    

  }

footer li{
    list-style-type: none
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    

}