

#logo{
    width: 12%;
    height: 12%;
    margin: 10px;
    padding: 10px;
}

#logocenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header{
    background-color: #03213F;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d8aa8;
}

nav ul {
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    position: relative;
}


nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
 display: inline-block;
}

nav li:hover > a {
 background-color: #03213F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03213F;
    top: 100%;
    /* left: 0; */
     z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navheadercolor{
    background-color: #1A9A9D;
}

#imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

/* body */

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
}
.Slogan{
    background-color: #03213F;
    padding: 30px;
    border-radius: 0 0 20% 20%;
    color: white;
    margin-bottom: 50px;
}

.Slogan2{
   margin-left: 20%;
   margin-right: 20%;
   padding-bottom: 40px;

}

.Workshops, .Workshops2, .Workshop3{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 500px;
}

.Workshops2{
    height: 550px;
}
img{
    height: 100%;
    width: 50%;
}



.BasicsofHealthcare, .AmericanHealthcare, .FinancialWellness{
    width: 50%;
    font-size: 27px;
    background-color: #c3ddf5;
    padding: 50px;
    font-family: 'Varela Round', sans-serif;
}

.BasicsofHealthcare,.FinancialWellness{
    border-radius: 10px 0px 0px 10px;
}

.AmericanHealthcare{
    border-radius: 0 10px 10px 0;
}

.img1{
    border-radius: 0px 10px 10px 0px;
}
.img2{
    border-radius: 10px 0 0 10px;
}
.PhoneImg1{
    display: none;
}

/*footer*/

footer{
    background-color: #1A9A9D;
    text-decoration: none;
    position: relative; 
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

footer ul {
    margin: 10;
    padding: 0px 15px;
    

  }

footer li{
    list-style-type: none
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row;
}

.items{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    

}

/* responsiveness*/

@media screen and (max-width: 400px){

h1{
    font-size: 2.5rem;
}

.Slogan2{
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5rem;
    
}

.img1 , .img2{
    display: none;
}


.BasicsofHealthcare, .AmericanHealthcare, .FinancialWellness{
    font-size: 1rem;
    margin: 0;
    width: 100%;
    border-radius: 20px;
}

.Slogan{
    height: 200px;
    font-size: .5em;
    margin-bottom: 15px;
}

footer{
 font-size: 1rem;
}
.WorkSlogan{
    font-size: 1em;
}

}

@media screen and (max-width: 1000px){

    h1{
        font-size:3rem;
    }
    
    .Slogan2{
        width: 100%;
        margin: 0;
        font-size: 1.3em;
        line-height: 1.5rem;
        
    }
    
   
    
    .BasicsofHealthcare, .AmericanHealthcare, .FinancialWellness{
        font-size: 1.5rem;
        margin: 0;
        width: 90%;
        padding: 5%;
        border-radius: 0px;
        height: 70%;
        
    }
    .img1, .img2{
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .Slogan{
        height: 300px;
        font-size: 1em;
        margin-bottom: 15px;
        border-radius: 0 0 30% 30%;
    }
    .Workshops, .Workshop3{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .Workshops2{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .AllWorkshops{
        justify-content: space-between;
    }
  
h3{
    font-size: 2rem;
}

    footer{
     font-size: 1rem;
    }

.WorkSlogan{
    line-height: 1em;
    font-size: 1em;
}



}

@media screen and (max-width: 1500px){

    h1{
        font-size:4rem;
    }
    
    .Slogan2{
        width: 100%;
        margin: 0;
        font-size: 1.3em;
        line-height: 1.5rem;
        
    }
    
    .Workshops, .Workshop3{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .Workshops2{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .BasicsofHealthcare, .AmericanHealthcare, .FinancialWellness{
        margin: 0%;
        font-size: 1.5rem;
        margin: 0;
        width: 90%;
        padding: 5%;
        border-radius: 0px;
        height: 100%;
    }
    
    .Slogan{
        height: 300px;
        font-size: 1em;
        margin-bottom: 15px;
        border-radius: 0 0 30% 30%;
    }
   
    .AllWorkshops{
        justify-content: space-between;
    }
  

h3{
    font-size: 2rem;
}

    footer{
     font-size: 1rem;
    }

.WorkSlogan{
    line-height: 1em;
    font-size: 2rem;
    
}

.img1, .img2{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}


}